
#product-details-section {
  padding: 20px 0;
}

.gkc-product-detail-top{
  padding: 10px;
  display: flex;
  justify-content: center;
}

.gkc-product-detail-top img {
  width: 220px;
}

.gkc-product-detail-bottom {
  padding: 10px 20px ;
}

.gkc-product-detail-bottom h3 {
  color: var(--gk-color-font-secondary);
  font-size: 20px;
}

.gkc-product-detail-bottom h4 {
  color: var(--gk-color-font-primary);
  font-size: 12px;
}

.gkc-product-detail-bottom p {
  color: var(--gk-color-font-primary);
  font-size: 12px;
  font-weight: 400px;
  margin-top: 10px 0;
}

.gkc-category{
  padding: 0 20px;
  background-color: var(--gk-color-bg-terciary);
  color: var(--gk-color-font-tertiary);
  height: 30px;
  font-size: 12px;
  font-weight: 700px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

.gkc-category-container {
  display: flex;
  padding: 0px 20px 20px 20px;
  flex-wrap: wrap;
}